
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    /* fonts */
    --ff-primary-: 'Jost', sans-serif;
    --ff-secondary-: 'Lato', sans-serif;

    /* color */
    --primary-clr: #2973af;
    --secondary-clr: #111;
    --tertiary-clr: #fff;
}

/* Basic Reset */
*, 
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: var(--ff-primary-);
    font-weight: bold;
    line-height: 1.5;
    
}
body{
    font-family: var(--secondary-clr);
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-clr)
}
button{
    display: flex;
    align-items: center;
    background: var(--tertiary-clr);
    border-style: none;
    color: var(--secondary-clr);
    font-family: var(--ff-secondary-);
    font-size: clamp(14px, 0.1rem + 2vw, 16px);
    font-weight: bold;
    padding: 0.2em 1em;
    cursor: pointer;
}
a{
    display: flex;
    align-items: center;
    border-style: none;
    color: var(--secondary-clr);
    font-family: var(--ff-secondary-);
    font-size: 18px;
    text-decoration: none;
}
a svg{
    width: 32px;
    height: 32px;
    stroke-width: 1;
    stroke: var(--secondary-clr);
}

.hero-section{
    display: flex;
    flex-direction: column;
}
.header-container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.utility-strip{
    padding: 0.4em 1em;
    background: var(--secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: clamp(12px, 0.1rem + 2vw, 16px);
}
.header-large{
    width: 100%;
    border-bottom: 1px solid var(--secondary-clr);
}
.header-row-large{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2em 1em;
}
.large-search-a{
    margin-right: auto;
}
.large-header-logo-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
    width: fit-content;
    height: fit-content;
}
.large-header-logo-container a{
    height: fit-content;
    width: fit-content;
    background: none;
}
.large-header-logo-container img{
    max-width: 115px;
    width: 12vw;
    min-width: 100px;
}
.header-small{
    display: none;
}
.nav-menu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-menu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0.5em;
    width: 70%;
}
.nav-menu ul li a{
    font-size: clamp(12px, 0.1rem + 2vw, 16px);
    color: var(--ff-primary-);
    font-weight: 400;
}
.header-small{
    display: none;
    width: 100%;
}
.header-row-small{
    display: flex;
    padding: 1em;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 600px){
    .header-large{
        display: none;
    }
    .header-small{
        display: flex;
    }
}
.header-row-small a svg{
    width: 28px;
    height: 28px;
}
.small-header-logo-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
}
.small-header-logo-container a{
    height: fit-content;
    width: fit-content;
    background: none;
}
.small-header-logo-container a img{
    max-width: 100px;
    width: 12vw;
    min-width: 90px;

}
.menu-open{
    margin-right: auto;
}
.small-cart-a{
    margin-left: 10px;
}
.hero-graphics{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    color: var(--tertiary-clr);
}
.hero-graphics::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6);
}
@media screen and (max-width: 478px) {
    .hero-graphics::before{
        background-image: url('data.jpeg');
    }
}
.tagline{
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: clamp(30px, 0.1rem + 2vw, 50px);
}
.subtag{
    z-index: 2;
    position: relative;
    text-align: center;
    font-size: clamp(18px, 0.1rem + 2vw, 30px);
    margin-bottom: 1em;
}
.hero-btn{
    z-index: 2;
    position: relative;
    margin-bottom: 12em;
    color: var(--secondary-clr);
}

/* Body Section */
.body-section{
    width: 100%;
}
.product-listing-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.product-listing{
    width: 100%;
    aspect-ratio: 3/4;
}
.product-listing img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}